<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse text-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/mindquest/educator">
          <i class="bi bi-house-door me-2"></i>Educator Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/student">
          <i class="bi bi-book me-2"></i> Student Area
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/educator/area">
          <i class="bi bi-person-badge me-2"></i> Educator Area
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/reports">
          <i class="bi bi-bar-chart-line me-2"></i> Reports
        </a>
      </li>
    </ul>
  </div>
</nav>
