<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse text-white">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/mindquest/student">
          <i class="bi bi-house-door me-2"></i>Student Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/student/schedule">
          <i class="bi bi-book me-2"></i> Schedule
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/student/ranking">
          <i class="bi bi-person-badge me-2"></i> Ranking
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mindquest/student/score">
          <i class="bi bi-bar-chart-line me-2"></i> SCore
        </a>
      </li>
    </ul>
  </div>
</nav>
