<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Sudah punya akun? kalo sudah klik <a href="/auth/login">disini</a>
    </div>
    <div>
        Belum punya akun? kalo belum klik <a href="/auth/register">disini</a>
    </div>
</body>
</html>