<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <form action="/profile/add" method="post">
        <div>
            <label for="">Avatar</label>
            <input type="text" name="avatar">
        </div>
        <div>
            <label for="">Nama Lengkap</label>
            <input type="text" name="namaLengkap">
        </div>
        <div>
            <label for="">Alamat</label>
            <input type="text" name="alamat">
        </div>
        <div>
            <label for="">Bio</label>
            <input type="text" name="bio">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>